<!DOCTYPE html>
<html>
<head>
  <title>Parcel Delivered</title>
</head>
<body>
  <h1>Parcel Delivered</h1>
  <p>Dear <%= receiverName %>,</p>
  <p>Your parcel has been successfully delivered on <%= deliveryDate %>.</p>
  <p>Thank you for using SendIt!</p>
  <p>Best regards,</p>
  <p>SendIt Team</p>
</body>
</html>